.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 200px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
 
}
.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-card{
    padding: 5px;
    width: 200px;
    background-color: rgb(186, 188, 183);
    margin: 5px;
      
}
.res-card:hover{
border: 1px solid black;
cursor: pointer;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 180px;
    height: 150px;
    /* height: 150px; */
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.filter-btn{
margin: 10px;
cursor: pointer;
}